<div class=" uk-flex uk-flex-column uk-flex-center">
    <form id="insert-form" action="/insert" method="post">
        <div class="uk-margin uk-flex uk-flex-center" id="insert-selector">
            <select class="uk-select uk-width-medium" id="table-selector" name="table-selector">
            {% for table in tables %}
            <option value="{{table}}">{{ table }}</option>
            {% endfor %}
        </select>
        </div>
    </form>

<form id="insert-data-form" action="/insert-data" method="post">
    <div class=" uk-flex  uk-flex-middle uk-flex-column">
            <div class="uk-margin" id="requested-table"></div>
            <input type="hidden" id ="table-name" name="table-name"></input>
            <button class="uk-button uk-button-primary uk-width-small" id="insert-button" disabled>Insert</button>
    </div>
    </form>
</div>
